<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Traversal Travel Category Bootstrap Responsive Template | Home :: W3layouts</title>
  <!-- google fonts -->
  <link href="//fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700&display=swap" rel="stylesheet">
  <link href="//fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,400&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
    integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <!-- google fonts -->
  <!-- Template CSS -->
  <link rel="stylesheet" href="/Travel/assets/css/style-liberty.css">
  <!-- Template CSS -->
  @* Dolar - Tl *@
  <script>
   const cost = document.querySelectorAll(".price")

   console.log(cost)

   getDollar = ()=>{
     const Dkur = 17.50;

      
   }
  </script>
</head>